<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="1.css">
</head>

<body>
    <div class="big">
        <div class="top">
            <div class="logo">
                <p>店铺logo</p>
            </div>
            <div class="header">
                <div>
                    <img src="./1.jpg" alt="">
                </div>
                <div class="modify">
                    <button><a href="">选择文件</a></button>
                    <p>建议长度1：1，JPG,PNG</p>
                </div>
            </div>
            <div class="cant">
                <p>所属餐厅</p>
                <div class="canname">
                    <p>东湖畔</p>
                </div>
            </div>
            <div class="xm">
                <p>店铺名称</p>
                <div class="flex-container">
                    <p>王一博</p>
                    <div>
                        <button><a href="">更改名称</a></button>
                    </div>
                </div>
            </div>
            <div class="slogan">
                <p>店铺标语</p>
                <div class="content">
                    <p>是王一博啊</p>
                    <div>
                        <button><a href="">更改标语</a></button>
                    </div>
                </div>
            </div>
            <div class="Show">
                <div class="jie">
                    <p class="aa">展示照片</p>
                    <p class="bb">用于展示本店招牌菜</p>
                </div>
                <div class="showcase">
                    <div class="login">
                        <div class="logina">删除</div>
                    </div>
                    <div class="loginb">
                       <div>删除</div>
                    </div>
                    <div class="loginc">
                        <div>删除</div>
                    </div>
                    <a href="">
                        <div class="increase">
                            <img src="./1.png" alt="">
                            <p>添加图片</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="keyword">
                <p>分类关键字</p>
                <div class="bolt">
                    <p>颜值</p>
                    <p>演技</p>
                    <p>人品</p>
                </div>
                <button><a href="">更改关键字</a></button>
            </div>
        </div>
    </div>
</body>
</html>